@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;400&family=Roboto&family=Source+Code+Pro:wght@300&display=swap');


.header {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Source Code Pro', monospace;
    font-weight: bold;
}



.headerLeftSide {
    display: flex;
    flex-direction: row;
    height: 100%;
}

.svgLogoArea {
    width: 110px;
}

.headerLogo {
    display: flex;
    flex-direction: row;
    width: 250px;
    gap: 5px;
}

.headerLogoSvg {
    width: 100px !important;
    height: 50px !important;
    -moz-transform: scale(-1, 1);
    -webkit-transform: scale(-1, 1);
    -o-transform: scale(-1, 1);
    -ms-transform: scale(-1, 1);
    transform: scale(-1, 1);
}






.signInBtn {
    background-color: #0089A6;
    color: white;
    padding: 10px 15px 10px 15px;
    border-radius: 15px;
    transition: all 300ms linear;
}

.signInBtn:hover {
    display: flex;
    align-items: center;
    padding-top: 0;
    padding-bottom: 0;
    border-radius: 0;
    padding: 18px 15px 18px 15px;
    transition: all 300ms linear;
}

.headerDropDownArea {
    z-index: -1;
    position: absolute;
    bottom: 0px;
    background: #3B3B3B;
    width: 100%;
    width: 300px;
    right: 0;
    cursor: default;
    padding: 15px;
    height: 0;
    transform: translateY(100%);
    overflow: hidden;
    display: none;
}

.headerDropDownAreaOpened {
    animation: rotateMenuOpen 300ms ease-in-out forwards;
    transform-origin: bottom;
    display: block;
}




@keyframes rotateMenuOpen {
    0% {
        height: 0;
    }

    100% {
        height: 400px;
    }
}



.authorizedHeaderMenu {
    width: 45px;
    height: 45px;
    border-radius: 50%;
    box-sizing: border-box;
    border: 2px solid white;
}

.authorizedHeaderMenu img {
    width: 100%;
    height: 100%;
    border-radius: 50%;
}


@media only screen and (max-width: 600px) {
    .headerContent {
        display: flex;
        flex-direction: row;
        color: white;
        width: 100%;
        height: 100%;
        justify-content: space-between;
        align-items: center;
    }

    .logoText {
        display: none;
    }


    .menuArea {
        display: none;
    }

    .headerUserArea {
        display: none;
    }

    .barsArea {
        height: 100%;
        width: 45px;
        display: flex;
        justify-content: center;
        align-items: center;
        color: rgb(211, 211, 211);
    }

    .barsArea .barsIcon {
        width: 25px;
        height: 25px;
    }
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) and (max-width:768px) {

    .headerContent {
        display: flex;
        flex-direction: row;
        color: white;
        width: 100%;
        height: 100%;
        justify-content: space-between;
        align-items: center;
        box-sizing: border-box;
    }

    .logoText {
        display: none;
    }

    .menuArea {
        display: none;
    }

    .headerUserArea {
        display: none;
    }

    .barsArea {
        height: 100%;
        width: 45px;
        display: flex;
        justify-content: center;
        align-items: center;
        color: rgb(211, 211, 211);
    }

    .barsArea .barsIcon {
        width: 25px;
        height: 25px;
    }
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) and (max-width:992px) {

    .headerContent {
        display: flex;
        flex-direction: row;
        color: white;
        width: 100%;
        height: 100%;
        justify-content: space-between;
        align-items: center;
        box-sizing: border-box;
    }

    .logoText {
        display: none;
    }

    .menuArea {
        display: none;
    }

    .headerUserArea {
        display: none;
    }


    .barsArea {
        height: 100%;
        width: 45px;
        display: flex;
        justify-content: center;
        align-items: center;
        color: rgb(211, 211, 211);
    }

    .barsArea .barsIcon {
        width: 25px;
        height: 25px;
    }
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) and (max-width: 1200px) {
    .headerContent {
        display: flex;
        flex-direction: row;
        color: white;
        width: 70%;
        height: 100%;
        justify-content: space-between;
        align-items: center;
    }

    .logoText {
        background-image: linear-gradient(to left, rgb(255, 250, 250) 30%, #25bad8, #0089A6 90%);
        -webkit-background-clip: text;
        -moz-background-clip: text;
        background-clip: text;
        color: transparent;
        font-weight: bold;
        font-size: 18px;
    }

    .menuArea {
        background: #3B3B3B;
        position: relative;
        z-index: 999;
    }

    .headerUserArea {
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        margin-left: 20px;
        padding-left: 10px;
        padding-right: 10px;
        cursor: pointer;
        position: relative;
        z-index: 3;
    }

    .barsArea {
        display: none;
    }

    .barsArea .barsIcon {
        display: none;
    }
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
    .headerContent {
        display: flex;
        flex-direction: row;
        color: white;
        width: 70%;
        height: 100%;
        justify-content: space-between;
        align-items: center;
    }

    .logoText {
        background-image: linear-gradient(to left, rgb(255, 250, 250) 30%, #25bad8, #0089A6 90%);
        -webkit-background-clip: text;
        -moz-background-clip: text;
        background-clip: text;
        color: transparent;
        font-weight: bold;
        font-size: 18px;
    }

    .menuArea {
        background: #3B3B3B;
        position: relative;
        z-index: 999;
    }

    .headerUserArea {
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        margin-left: 20px;
        padding-left: 10px;
        padding-right: 10px;
        cursor: pointer;
        position: relative;
        z-index: 3;
    }

    .barsArea {
        display: none;
    }

    .barsArea .barsIcon {
        display: none;
    }
}