.Header{
    width: 100%;
    height: 100%;
    border-bottom: 1px solid rgba(192, 192, 192, .3);
    display: flex;
    flex-direction: row;
}

.prifileImage{
    width: 30px;
    height: 30px;
    border-radius: 50%;
}

.HeaderBarIconContent{
    width: 50px;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    border-right: 1px solid rgba(192, 192, 192, .3);
    cursor: pointer;
    
    color: #C0C0C0;
}

.HeaderBarIconContent:hover{
    transition: color  300ms linear;
    color:  #495062 ;
}

.headerBarsIcon{
    font-size: 25px;
}

.SearchArea{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    border-right: 1px solid rgba(192, 192, 192, .3);
}

.searchIcon{
    font-size: 25px;
    padding-left: 10px;
    padding-right: 10px;
    color: #C0C0C0;
    cursor: pointer;
}
.searchIcon:hover{
    transition: color  300ms linear;
    color:  #495062 ;
}
.searchInput{
    width: 100%;
    height: 50%;
    outline: none;
    border: none;
    padding: 5px;
    font-family: Muli; 
}

.headerProfile{
    position: relative; 
    height: 100%;
    width: 200px;
    cursor: pointer;
}

.profileDropDownContent{
    position: absolute;
    background-color: rgba(192, 192, 192 );
    width: 100%;  
    transform: rotateX(-90deg);
}
.headerProfile:hover {
    background-color: rgba(192, 192, 192 );
    transition: background-color 300ms linear;
}
.headerProfile:hover .profileDropDownContent {
    animation: rotateMenu 400ms ease-in-out forwards;
    transform-origin: top center
}


    
@keyframes rotateMenu {
    0% {
        transform: rotateX(-90deg)
    }
    70% {
        transform: rotateX(20deg) 
    }
    100% {
        transform: rotateX(0deg) 
    }
}



.profileContent {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding-left: 10px;
    padding-right: 10px;
    gap: 5px;
    color: #646464;
    cursor: pointer;
    height: 100%;
    
    margin-right: 10px;
}

.headerProfile span{
    font-family: Muli; 
    white-space: nowrap;
    width: 100%;
}

.avatarArrow{
    margin-bottom: 5px;
}


.profileDropdownMenu{
    list-style-type: none!important;
    margin: 0;
    padding: 0;
    text-align: left;
    font-family: Muli;
}
.profileDropdownMenu li {
    padding: 5px;
    transition: all 100ms linear;
    display: flex;
    flex-direction: row;
    gap: 10px;
    
    color: #646464;
}
.profileDropdownMenu li:hover{
    background-color: #495062;
    color: white;
}



@media only screen and (max-width:780px) {
    .headerUserInfo, .avatarArrow{
        display: none!important;
    }

    .headerProfile{  
        height: 100%;
        width: 50px; 
    }

    .profileDropDownContent {
        width: 130px;
        right: 1px;
        left: auto;
    }
    
}