.wrapper{
    position: relative;
    width: max-content
}

.input {
    border: 1px solid red;
    padding: 8px
}

.label {
    position: absolute;
    top: 50%;
    left: 0;
    padding-left: 8px;
    transform: translateY(-50%)
}

.input:focus + label {
    top: 0;
    transform: translate(20%,-50%);
    background-color: white;
    padding: 5px;
}