.filterDropField{
    width: 100%;
    height: 100%;
    position: relative;
    
    color: rgb(119, 118, 118);
    font-size: 12px;
}


.fieldDropDown {
    width: 100%;
    display: flex;
    flex-direction: column;
    position: absolute;  
    box-shadow: 0.5px 0.5px 1px 1px rgb(170, 169, 169); 
    color: rgb(75, 75, 75);
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    height: 0; 
    opacity: 0;
    z-index: 9999;
    align-items: center;
}

.fieldDropDownVisible { 
    animation: showDropDownAnimation 300ms ease-in-out forwards;
}

@keyframes showDropDownAnimation {
    0%{
        opacity: 0;
        height: 0;
    }
    100% {
        height: auto;
        opacity: 1;
    }
}

.selectItemOption{
    cursor: pointer;
    padding-left: 5px;
    padding-top: 5px;
    padding-bottom: 5px;
}

.selectItemOption:hover {
    background-color: rgba(170, 169, 169, .1); 
}

.fieldArea{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
    gap: 10px;
    align-items: center;
    cursor: pointer;
}
.fieldArea:hover {
    background-color: rgba(170, 169, 169, .1); 
    transition: all 200ms linear;
}

.filedText{
    padding-left: 5px; 
    width: 100%;
}

.fieldIcon {
    color: rgb(170, 169, 169);
    width: 30px;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.fieldIconDown{
    transform: rotate(180deg);
    transition: transform 200ms linear;
}

.fieldIconUp{
    transform: rotate(0deg);
    transition: transform 200ms linear;
}

.dropItemsSearchArea{

    width: 95%; 
    height: 30px; 
    border: 1px solid rgb(170, 169, 169);
    margin-top: 5px;
    margin-bottom: 5px; 
    padding-left: 2px;
    border-radius: 5px;
    color: rgb(170, 169, 169);
    display: none;
}

.showSearchArea{
    display: flex;
    flex-direction: row;
}
.dropSearchInput{
     width: 100%;
    display: flex;

}
.dropSearchInput input[type='text']{
    width: 100%;
    border: none;
    outline: none;
    color: rgb(95, 95, 95);
}

.dropSearchIcon{
    width: 30px;
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 14px; 
}

.dropdownDataArea{
    width: 100%;
    overflow-y: auto;
    max-height: 100px; 
}























.container {
    display: block;
    position: relative;  
    cursor: pointer;
    font-size: 12px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
  }
  
  /* Hide the browser's default checkbox */
  .container input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
  }
  
  /* Create a custom checkbox */
  .checkmark {
    position: absolute;
    top: 0;
    left: 0;
    height: 15px;
    width: 15px;
    background-color: #eee;
  }
  
  /* On mouse-over, add a grey background color */
  .container:hover input ~ .checkmark {
    background-color: #ccc;
  }
  
  /* When the checkbox is checked, add a blue background */
  .container input:checked ~ .checkmark {
    background-color: #2196F3;
  }
  
  /* Create the checkmark/indicator (hidden when not checked) */
  .checkmark:after {
    content: "";
    position: absolute;
    display: none;
  }
  
  /* Show the checkmark when checked */
  .container input:checked ~ .checkmark:after {
    display: block;
  }
  
  /* Style the checkmark/indicator */
  .container .checkmark:after {
    left: 4px;
    top: 0px;
    width: 4px;
    height: 8px;
    border: solid white;
    border-width: 0 3px 3px 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
  }


  .optionArea{
      width: 100%;
      height: 100%;
      display: flex;
      flex-direction: row;
      gap: 20px;
  }