.filter{
    width: 100%;
    height: 100%;
    position: relative;  
    background-color: rgb(231, 231, 231);
}


.visibleFilterLine {
    width: 100%;
    height: 100%; 
    display: flex;
    flex-direction: row;
}

.locationDropdownSelect{
    width: 90%;
    border-right: 2px solid rgba(59, 59, 59, .1);
}


.dropDownFilterLine{
    width: 100%;
    position: absolute;
    /* background-color: rgb(59, 59, 59); */
    background-color: white;
    border: 1px solid rgb(207, 207, 207); 
   height: 0;
   overflow: hidden;
}


.periodSelection{
    width: 80%;
    border-right: 2px solid rgba(59, 59, 59, .1);
}

.additionalFilterDrop{
    width: 250px; 
    border-right: 2px solid rgba(59, 59, 59, .1);
    display: flex;
    flex-direction: row;
    align-items: center;
    padding-left: 10px;
    cursor: pointer;

}

.filterBtnIcon{
    width: 50px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 25px;
    color: rgb(170, 169, 169);
}
.showFilterBtnText{
    width: 100%;
    font-size: 15px;
    font-weight: bold;
    color: rgb(119, 118, 118);
}
.searchButton {
    width: 200px; 
    border-right: 2px solid rgba(59, 59, 59, .1);
    display: flex;
    flex-direction: row;
    align-items: center;
    padding-left: 10px;
    cursor: pointer;
    background-color: #0089A6;
    border: 4px solid #0089A6;;
    color: white;
}

.searchButton:hover {
    background: #0fa4c2;
    border: 4px solid #0fa4c2;
    transition: all 200ms linear;
}

.searchBtnIcon{
    width: 50px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 20px;
    /* color: rgb(170, 169, 169); */
}

.searchBtnText {
    width: 100%;
    font-size: 15px;
    font-weight: bold;
    /* color: rgb(119, 118, 118); */
}

.dropDownCarSpecificsShow {
    display: block; 
    animation: citiesDropShow 300ms ease-in forwards;
} 


@keyframes citiesDropShow {
    0% {
        height: 0; 
    }
    100% {
        
        height: 300px;
    }
    
}
 
.additionalFilterDropHover {
    
    color: #0089A6!important;
    transform: rotate(180deg);
    transition: all 200ms linear;
}


.additionalFilterDropLeave {
    transform: rotate( 0deg);
    transition: all 200ms linear;
}